<!--include header-->
  <%- include('include/_header')%>
<!--/include header-->

    <!--Main site-->
       
    <main id="site-main">
      <div class="container">
          <div class="box-nav d-flex justify-between">
               <a href="/add_laptop" class = "border-shadow">
                   <span class = "text-gradient">New Laptop <i class="fas fa-laptop"></i></span>
               </a>
          </div>

          <!--form handling-->
          <form action="/" method="POST">
           <table class = "table">
               <thead class = "thead-dark">
                   <tr>
                       <th>ID</th>
                       <th>Name</th>
                       <th>CPU</th>
                       <th>RAM</th>
                       <th>Storage</th>
                       <th>Action</th>
                   </tr>
               </thead>
               <tbody>
                <%- include('include/_show')%>
               </tbody>
           </table>
          </form>
          
          <a  href="/scan_qr_code"  data-role="button" >Scan</a>

      </div>
     
  </main>
  
<!--/Main site-->


<!--include footer-->
<%- include('include/_footer')%>
<!--/include footer-->



