<!--form handling-->
<form action = "/api/laptop" method="POST" id = "add_laptop">
    <div class="new_laptop">
        <div class="form-group">
            <label for="name" class = "text-light">Name</label>
            <input type="hidden" name = "id" value = "">
            <input type="text" name = "name" value = "" placeholder="Lenovo Legion 7i">
        </div>
        <div class="form-group">
            <label for="cpu" class = "text-light">CPU</label>
            <input type="text" name = "cpu" value = "" placeholder="AMD Ryzen 9 5900HS">
        </div>
        <div class="form-group">
            <label for="ram" class = "text-light">RAM</label>
            <input type="text" name = "ram" value = "" placeholder="32GB DDR4 3600MHz">
        </div>
        <div class="form-group">
            <label for="storage" class = "text-light">Storage</label>
            <input type="text" name = "storage" value = "" placeholder="1TB Samsung 980 Pro M.2">
        </div>
        <div class="form-group">
            <button type = "submit" class = "btn text-dark update"> Save</button>
        </div>
    </div>
   </form>